@model ICollection<HeritageAllianceApp.Models.Cemetery>

@{
    ViewBag.Title = "Cemetery List";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Here are the cemeteries in @ViewBag.County County, @ViewBag.State</h1>
                <br />
                <h2>Select a cemetery to view the markers listing for that cemetery.</h2>
            </hgroup>
        </div>
    </section>
}

<ul>
    @{
        foreach (var cem in Model)
        {
            string linkText = (cem.CemeteryName);
            <li>@Html.ActionLink(linkText, "ListDeceased", new { id = cem.CemeteryId })</li>
        }
    }
</ul>

@Html.ActionLink("Back to County List", "CountyList", "Location")