@model ICollection<HeritageAllianceApp.Models.LocationHandler>

@{
    ViewBag.Title = "County List";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Here is a list of counties.</h1>
                <br />
                <h2>Select a county to view all cemeteries in that county.</h2>
            </hgroup>
        </div>
    </section>
}

<ul>
    @{
        foreach (var loc in Model)
        {
            string linkText = (loc.County + ", " + loc.State);
            <li>@Html.ActionLink(linkText, "ListByCounty", "Cemetery", new { county = loc.County, state = loc.State }, new { })</li>
        }
    }
</ul>

@Html.ActionLink("Back to Location Menu", "Index")