@model ICollection<HeritageAllianceApp.Models.LocationHandler>

@{
    ViewBag.Title = "County List";
}

<h2>Here is a list of Counties</h2>

<ul>
    @{
        foreach (var loc in Model)
        {
            string linkText = (loc.County + ", " + loc.State);
            <li>@Html.ActionLink(linkText, "ListByCounty", "Cemetery", new { county = loc.County, state = loc.State }, new { })</li>
        }
    }
</ul>

@Html.ActionLink("Back to Location Menu", "Index")