@model IEnumerable<HeritageAllianceApp.Models.Location>

@{
    ViewBag.Title = "Locations";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Browse Cemeteries by Location.</h1>
                <br />
                <h2>Choose one of the following options.</h2>
            </hgroup>
        </div>
    </section>
}

<ul>
    <li>
        @Html.ActionLink("City List", "CityList")
    </li>
    <li>
        @Html.ActionLink("County List", "CountyList")        
    </li>
    <li>
        @Html.ActionLink("Cemeteries Map", "MapList")
    </li>
</ul>

@Html.ActionLink("Back to Home", "Index", "Home")
